{% extends "base.html" %}

<!-- css for form -->
{% block head %}
<style>
    .btn-primary {
        margin: 2% 0% 2% 59%;
    }
</style>
{% endblock head %}

<!-- body of form -->
{% block body %}

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Student Entery Form</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">School Fees Details</span>
                    <span class="badge bg-primary rounded-pill">LKG to 12th</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Standard</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">Fees</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">LKG STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">UKG STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">1st STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">2nd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">3rd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">4th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">5th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">6nd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">7th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">8th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">9th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">10th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">11th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">12th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>

                </ul>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Bus Fees Details</span>
                    <span class="badge bg-primary rounded-pill">LKG to 12th</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Standard</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">Fees</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">LKG STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">UKG STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">1st STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">2nd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">3rd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">4th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">5th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">6nd STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">7th STD</h6>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                </ul>
            </div>


            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate="" method="POST" action="/admi_form/{{std}}">
                    {% csrf_token %}
                    <div class="row g-3">
                        <!-- student Details -->
                        <h4 class="mb-3">Student Details</h4>
                        <div class="col-sm-3">
                            <label for="firstName" class="form-label">Student Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="Enter your Name"
                                value="" required="" name="name">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <label for="firstName" class="form-label">Father Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="Enter your Father Name"
                                value="" required="" name="father_name">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <label for="firstName" class="form-label">Mother Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="Enter your Mother Name"
                                value="" required="" name="mother_name">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        

                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Standard</label>
                            <input type="text" class="form-control" id="firstName" placeholder="{{std}}" value="{{std}}" required=""
                                name="std">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Birth Date</label>
                            <input type="text" class="form-control" id="firstName" placeholder="DD/MM/YYYY" value="" required=""
                                name="birth_date">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Birth Place</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter your Birth Place" value="" required=""
                                name="birth_place">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Register No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter Register No" value="" required=""
                                name="register_no">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <label for="lastName" class="form-label">Master No</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter Master No" value="" required=""
                                name="master_no">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Roll No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter rollno" value="" required=""
                                name="rollno">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">UDISE No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="UDISE No" value="" required=""
                                name="udise_no">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="lastName" class="form-label">Aadhar No</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Aadhar No" value="" required=""
                                name="aadhar_no">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Mobile No</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Mobile No" value="" required=""
                                name="mobile_no">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Admission Date</label>
                            <input type="text" class="form-control" id="lastName" placeholder="DD/MM/YYYY" value="" required=""
                                name="admission_date">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <hr class="my-4">

                        <!-- Fees Details -->
                        <!-- Admission Fees -->
                        <h4 class="mb-3">Admission Fees Details</h4>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Total Admission Fees</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="total_school_fees">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Paid</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="total_school_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Paid Date</label>
                            <input type="text" class="form-control" id="lastName" placeholder="DD/MM/YYYY" value="" required=""
                                name="date_of_school_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <hr class="my-4">
                        <!-- school fees -->
                        <h4 class="mb-3">Fees Details</h4>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Total School Fees</label>
                            <input type="text" class="form-control" id="lastName" required="" placeholder="" value="" 
                                name="total_school_fees">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Fees Paid</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="total_school_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Last Paid Date</label>
                            <input type="text" class="form-control" id="lastName" placeholder="DD/MM/YYYY" value="" required=""
                                name="date_of_school_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <!-- bus fees -->
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Total Bus Fees</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="total_bus_fees">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Fees Paid</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="total_bus_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">Last Paid Date</label>
                            <input type="text" class="form-control" id="lastName" placeholder="DD/MM/YYYY" value="" required=""
                                name="date_of_bus_fees_paid">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <hr class="my-4">

                        <!-- Other Details -->
                        <h4 class="mb-3">Other Details</h4>
                        <div class="col-sm-3">
                            <label for="lastName" class="form-label">No of Bonafide Taken</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="bonafide_taken">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label for="lastName" class="form-label">Note</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                                name="note">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <button class="btn btn-primary col-sm-4" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>


{% endblock body %}